.overlay {
  overflow-y: hidden;

  &::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    // background-color: #faebd7;
    z-index: 9;
  }
}
