// FONTS

$font-base: "Mulish", arial, sans-serif;
$font-title: "Oswald", Georgia, sans-serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #222222;
$color-plaseholder: #989898;
$color-hover: #FF3C3C;


// $color-disabled: #d1d1d1;
$color-overlay: rgba(24, 28, 41, 0.8);

// $color-error: #ff5e66;

// WIDTH
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
