// FONTS

$font-base: "inter", arial, sans-serif;
$font-title: "Merriweather", Garamond, serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #BDAE82;



// $color-disabled: #d1d1d1;
$color-overlay: rgba(24, 28, 41, 0.8);

// $color-error: #ff5e66;

// WIDTH
$desktop-width: 1440px;
$tablet-width: 768px;
// $mobile-width: 380px;
