.about {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $color-primary;
}

.about__container {
  columns: auto 3;
  column-gap: 40px;
  column-fill: balance;

  height: 628px;

  background-color: rgb(76, 166, 245);
}

.about__img {
  display: block;
  background-color: antiquewhite;
  width: 440px;
  height: 440px;
  margin-bottom: 40px;
}

.about__title {
margin-bottom: 12px;
}

.about__text  {
  margin-bottom: 40px;
}