.about {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $color-primary;
}

.about__container {
  columns: auto 3;
  column-gap: 39px;
  // column-fill: balance;

  // height: 628px;
}

.about__img {
  display: block;
  width: 440px;
  height: 440px;
  margin-bottom: 40px;
}

.about__title {
margin-bottom: 12px;
}

.about__text-1 {
    break-inside: avoid;

}

.about__text-2  {
  margin-bottom: 40px;
  // break-before: column;
}