.contact {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/contacts/contacts_bg-1x.webp");
  min-height: 700px;
}

.contact__wrapper  {
  max-width: 450px;
  padding-top: 60px;
  margin-left: auto;
}

.container__title {
margin-bottom: 40px;  
}