.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-primary;
}

.faq__container {
  display: flex;
  gap: 40px;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.faq__title {
  margin-bottom: 12px;
}

.faq__wrapper {
  max-width: 680px;
  min-width: 680px;

  @include media-tablet {
    max-width: 100%;
    min-width: auto;
  }
}

.faq__faq {
  box-sizing: border-box;
  border-bottom: 1px solid $color-white;
}

.faq__question {
  list-style: none;
  padding: 18px 0 17px 0;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: color 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-color: $color-white;
    mask-size: 15.5px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url("../../icons/plus.svg");
  }

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    color: $color-hover;

    &::after {
      background-color: $color-hover;
    }
  }

  &:active {
    opacity: 0.5;
    &::after {
      opacity: 0.5;
    }
  }
}

.faq__faq[open] > .faq__question {
  &::after {
    mask-size: 15.5px 2px;
    mask-image: url("../../icons/minus.svg");
  }
}

.faq__answer {
  margin-bottom: 19px;
}
