.faq {
   padding-top: 60px;
  padding-bottom: 60px;
    background-color: $color-primary;
}

.faq__container {
display: flex;
gap: 40px;
justify-content: space-between;
}

.faq__wrapper {
  max-width: 680px;
}

.faq__faq {
border-bottom: 1px solid $color-white;
}

.faq__question {
  padding: 18px 44px 18px 0;
}

.faq__answer {
  margin-bottom: 20px;
}