.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-primary;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-list {
  @include list-reset;
  display: flex;
}

.footer__social-item {
  padding: 18px 20px;
}

.footer__social-link {
  display: block;

  transition: color 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    color: $color-hover;
  }

  &:active {
    opacity: 0.5;
  }
}
