.form {
  display: flex;
  gap: 8px;
  justify-content: center;

 @media (max-width: 670px) {
    flex-wrap: wrap;
 }

  @include media-mobile {
    flex-direction: column;
  }
}

.form__filed {
  width: clamp(380px, 380px, 380px);
  box-sizing: border-box;
  padding: 18px 12px;
  background-color: transparent;
  border: 1px solid $color-primary;

  height: 60px;

  transition: background-color 300ms ease-in-out 0s;

  &::placeholder {
    @include font-tittle(
      $size: 16px,
      $line-height: 24px,
      $weight: 400,
      $color: $color-plaseholder
    );
  }

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    outline: none;
    border: 1px solid $color-hover;
  }

  @include media-tablet {
    width: clamp(auto, 256px, 256px);
  }

   @media (max-width: 670px) {
    width: auto;
 }

  @include media-mobile {
    width: auto;
  }
}

.form__button {
  width: 200px;

  @include media-tablet {
    flex-shrink: 0;
  }

  @include media-mobile {
    width: auto;
  }
}
