.form {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.form__filed {
  width: 380px;
  box-sizing: border-box;
  padding: 18px 12px;
  background-color: transparent;
  border: 1px solid $color-primary;

  transition: background-color 300ms ease-in-out 0s;

  &::placeholder {
  @include font-tittle($size: 16px, $line-height: 24px, $weight: 400, $color: $color-plaseholder);
  }

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    outline: 1px solid $color-primary;
    color: $color-white;
  }
}

.form__button {
  width: 200px;
}