.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__filed {
  padding: 5px 20px 5px;
  background-color: transparent;
  border: 2px solid $color-primary;

  transition: background-color 300ms ease-in-out 0s;

  &::placeholder {
    @include font($size: 20px, $color: $color-primary);
  }

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    outline: 3px solid $color-primary;
    color: $color-white;
  }
}
