
.header {
  background-color: $color-primary;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.header__list {
  @include list-reset;
    display: flex;
}

.header__link {
  padding: 18px 20px;
  transition: color 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    color: $color-primary;
  }

  &:active {
    opacity: 0.8;
  }
}
