.header {
  background-color: $color-primary;
}

.header__container {
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 20px;
  height: 20px;
  padding: 20px 20px 20px;
}

.header__burger {
  @include btn-reset;
  display: none;
  width: 60px;
  height: 60px;

  cursor: pointer;
  background-color: $color-white;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  mask-image: url("../../icons/burger_open.svg");

  &--closer {
    mask-image: url("../../icons/burger_closer.svg");
  }
  &:focus,
  &:hover {
    background-color: $color-hover;
    outline: auto;
  }

  @include media-tablet {
    display: block;
  }
}

.header__nav {
  @include media-tablet {
    display: none;
  }
}

.header__list {
  @include list-reset;
  display: flex;
}

.header__link {
  padding: 18px 20px;
  transition: color 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: auto;
  }

  &:hover {
    color: $color-hover;
  }

  &:active {
    opacity: 0.5;
  }
}
