.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
    background-color: $color-primary;
}
.portfolio__title {
  margin-bottom: 12px;
}

.portfolio__text {
margin-bottom: 40px;  
}

.portfolio__slider {
overflow-x: hidden;  
}

.portfolio__list {
  @include list-reset;
display: flex;
gap: 20px;
// flex-wrap: wrap;
// align-items: center;
// justify-content: center;
}

.portfolio__item {
flex-grow: 0;  
flex-shrink: 0;
}

.portfolio__img {
  display: block;
  background-color: rgb(192, 117, 18);
}