.price {
   padding-top: 60px;
  padding-bottom: 60px;
}

.price__title {
  margin-bottom: 12px;
}

.price__text {
  margin-bottom: 40px;
}

.price__list {
    @include list-reset;

display: flex;  
gap: 24px;
}

.price__item {
  box-sizing: border-box;
  max-width: 320px;
  padding: 24px;
  border: 1px solid $color-primary;
  display: flex;
  flex-direction: column;
}

.price__title {
  margin-bottom: 20px;
}

.price__subtitle {
margin-bottom: 12px;  
}

.price__list-features {
  @include list-reset;
  margin-bottom: 12px;  

  display: flex;
  flex-direction: column;
  gap: 4px;
 }

 .price__text-italic {
  margin-bottom: 12px;
  margin-top: auto;
 }